<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <%- include("header") -%>
        <base href="/">
        <link rel="stylesheet" href="css/about.css">
        <link rel="stylesheet" href="css/home.css">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>

    <a name="top"></a>
    <div class="home-page page">
        <div class="container">
            <div class="container-home">
                <h1 class="name">Kanisha Liyanage</h1>
                <p class="about">
                    <br>This Blog Website created for my university assignment.
                    <br>Contact Me on the social media accounts shown below.
                </p>
            </div>
            <div class="social">
                <ul class="wrapper">
                    <li class="icon linkedin">
                        <span class="tooltip">LinkedIn</span>
                        <span><a class="ld" href="https://linkedin.com/in/kanisha-liyanage"><i class="fab fa-linkedin"></i></a></span>
                    </li>
                    <li class="icon github">
                        <span class="tooltip">Github</span>
                        <span><a href="https://github.com/KanishaLiyanage"><i class="fab fa-github"></i></a></span>
                    </li>
                    <li class="icon twitter">
                        <span class="tooltip">Twitter</span>
                        <span><a href="https://mobile.twitter.com/DilumKanisha"><i class="fab fa-twitter"></i></a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>