* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
    margin-left: -1px;
    margin-right: -1px;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "image image info"
      "image image info"
      ". . .";
  }
  
  .image { grid-area: image; }
  
  .info { grid-area: info; }
  



.image {
    width: 180px;
    height: 200px;
    object-fit: cover;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
}