* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
    padding: 5em;
}