* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
}

/* Meniu start */
/* header sekcijos nustatymia */
.header-area {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background: white;
}

/* header container nustatymai */
.container-header {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
}

/* meniu eilutės aprašymas */
.header-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 80px;
  padding-left: 80px;
}

.site-info-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* logotipas */
.logo-img {
  box-sizing: border-box;
  padding-bottom: 10px;
}

.site-name {
  text-decoration: none;
  color: #041348;
  font-size: 12px;
  font-weight: bold;
}

/* matoma navigacija */
.menu-list a {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
}

.menu-list li {
  display: inline-block;
}

.menu-list a {
  list-style: none;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 12px;
  font-weight: bold;
}

/* pseudo komanda - užvedus užsisdeda spalva  */
.menu-list a:hover {
  color: #8490ff;
}

/* uždeda spalvą visada, kol kas nustatom rankiniu būdu */
.blog-active {
  color: #8490ff;
}

/* baner start */
.baner-area {
  position: relative;
  display: block;
  top: 35px;
  left: 0;
  bottom: 0;
  right: 0;
  margin-bottom: 50px;
}

.baner-container {
  width: 100%;
}

.background-img {
  position: relative;
  box-sizing: border-box;
  background-image: url(https://r4.wallpaperflare.com/wallpaper/975/511/725/cyber-cyberpunk-cyberpunk-2077-car-futuristic-hd-wallpaper-d9d038ad71eadd6b9647d82ff011867d.jpg);
  background-size: cover;
  min-height: 500px;
  z-index: 1;
}

.background-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.baner-content {
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 200px;
}

.baner-button a {
  box-sizing: border-box;
  text-decoration: none;
  background: #8490ff;
  border-radius: 5px;
  color: white;
  padding: 7px;
  text-transform: uppercase;
  font-weight: bold;
}

.baner-button a:hover{
  text-decoration: none;
  color: rgb(255, 57, 133);
}

.card-img-top{
  height: 200px;
  object-fit: cover;
}

.cat-row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: #030a4d;
  padding-right: 20px;
}

.bg-dark{
  width: 100%;
  position: relative;
  bottom: 0;
}

.compose-btn-primary{
  text-decoration: none;
  background-color: #8490ff;
  color:white;
}

.compose-btn-primary:hover{
  text-decoration: none;
  background-color: #030a4d;
  color: white;
}