@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

:root {
    --primary: #323232;
    --light-bg: #f4f4f4;
    --border: #eee;
}

.profile-card {
    margin-top: 8em;
    padding-left: 5em;
    padding-top: 2em;
    padding-right: 5em;
    padding-bottom: 2em;
}

.card__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -15px;
}

.card__profile img {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    -o-object-fit: cover;
    object-fit: cover;
}

.card__name {
    margin-left: 1.25rem;
}

.card__button svg {
    height: 1.05rem;
    width: 1.05rem;
    margin-right: 5px;
}

.card__button {
    margin-left: auto;
}

.card__button button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.05rem;
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 100px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.card__button button:active {
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
}

.card__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.border {
    border-radius: 5px;
    height: 2px;
    background-color: var(--border);
    border: none;
    margin: 1.25rem 0;
}

.heading {
    font-weight: bold;
    font-size: 1.1rem;
}

.mb-4{
    width: 50em;
    margin-left: 5em;
    margin-bottom: 2em;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.cat-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #030a4d;
    padding-right: 20px;
}

.btn-primary{
    background-color: red;
    border: none;
}

.btn-primary:hover{
    background-color: rgb(190, 4, 4);
    border: none;
}

.card-title{
    font-size: 1.5em;
    font-weight: bold;
}

.card-text{
    font-size: 1em;
    font-weight: 200;
}